.zoomage-container {
  position: relative;
}

.zoomage-section {
  padding-bottom: 50vh;
  padding-top: 50vh;
  width: 100%;
}

.zoomage-canvas-container {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  &.zoomage-fixed {
    position: fixed;
  }

  &.zoomage-bottom {
    bottom: 0;
    position: absolute;
    top: auto;

  }

  canvas {
    height: 100%;
    width: 100%;
  }
}
